:root {
  background-color:lightskyblue;
}

.App {
  padding: 20px;
}

.board {
  display:flex;
  align-items: flex-start;
  gap:16px;
  overflow-x: auto;
}

.list-container {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  border-radius: 10px;
  padding:10px;
  gap:15px;
  min-width:200px;
  min-height: 300px;
  flex-shrink:0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.list-card {
  background-color: white;
  padding:7px;
  width:200px;
  border-radius:5px;
  min-height:30px;
  word-wrap: break-word;
}
